@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    cursor: pointer;
    top: 0;
}

.nav-list {
    width: 70%;
    /* background-color: rgb(241, 237, 237); */
    display: flex;
    align-items: center;
    list-style-type: none;
}



.nav-list a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 18px;
}

.nav-list :hover {
    text-decoration: none;
  color: rgb(179, 122, 233);
    /* color: rgb(160, 175, 71);  */
}

.rightnav {
    /* background-color: rgb(77, 146, 206); */
    width: 30%;
    text-align: right;
}

.burger {
    position: absolute;
    top: 12px;
    right: 5%;
    display: none;
    cursor: pointer;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 4px 4px;
}

.logo {
    display: flex;
    width: 10%;
    align-items: ceneter;
}

.logo img {
    width: 80%;
    /* border: 3px solid red; */
    border-radius: 50px;
}

#serach {
    padding: 5px;
    margin: 15px;
    font-size: 15px;
    border-radius: 10px;
    background: none;
    border: 2px solid white;
}


.background {
    background: rgba(0, 0, 0, 0.7) url('../img/travel.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    margin: auto;
    max-width: 50%;
}

.firstHalf {
    width: 80%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

.secondHalf {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondHalf img {
    width: 60%;
    border: 2px solid white;
    border-radius: 40px;
}

.text-Big {
    font-size: 35px;
}

.text-small {
    font-size: 20px;
}

.btn {
    padding: 10px 25px;
    margin: 10px 0px;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(179, 122, 233);
}

.btn-sub {
    padding: 5px;
    margin-right: 48%;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 10px;
    background: none;
    border: 2px solid black;
}

.btn-sm {
    padding: 5px 15px;
    margin: 5px 3px;
    font-size: 12px;
    border-radius: 15px;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;
}

.section {
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
}

.left {
    flex-direction: row-reverse;
}

.paras {
    padding: 30px 50px;
}

.thumbnail img {
    width: 250px;
    border-radius: 45px;
}

.thumbnail-top img {
    width: 150px;
    border-radius: 45px;
}


.contact {
    background-color: aqua;
    height: 70vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-center {
    text-align: center;
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text-center {
    margin-top: 15px;
}

.form-input {
    width: 51%;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
}